Repository Shopify/ruby-style-guide, changes with the labels that .github/labeler.yml gives for each.
All labels: config change, hq, graphql, minitest, performance, rails, rake, rspec

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Enable three cops
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Upgrade minimum RuboCop version to 1.52.0
  Gemfile.lock
  rubocop-shopify.gemspec
Labels: none

Upgrade rubocop from 1.52.0 to 1.53.0
  Gemfile.lock
Labels: none

Enable Lint/MixedCaseRange cop
  rubocop.yml
Labels: config change, hq

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Enable Lint/MixedCaseRange
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Enable Lint/RedundantRegexpQuantifiers
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Enable Style/RedundantCurrentDirectoryInPath
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Enable Style/RedundantRegexpArgument
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Enable Style/ReturnNilInPredicateMethodDefinition
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Enable Style/YAMLFileRead
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Bump minimum RuboCop version
  Gemfile.lock
  rubocop-shopify.gemspec
Labels: none

Enable `Style/IfWithBooleanLiteralBranches`
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Allow remaster in Naming/InclusiveLanguage
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Allow all instances of 'master' as part of another word
  rubocop.yml
  test/fixtures/full_config.yml
Labels: config change, hq

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

deploy: c104771f6a65697055ece2ea2456d447211aa88e
  css/main.css
  css/main.css.map
  fonts/fontawesome/fa-brands-400.ttf
  fonts/fontawesome/fa-brands-400.woff2
  fonts/fontawesome/fa-regular-400.ttf
  fonts/fontawesome/fa-regular-400.woff2
  fonts/fontawesome/fa-solid-900.ttf
  fonts/fontawesome/fa-solid-900.woff2
  fonts/fontawesome/fa-v4compatibility.ttf
  fonts/fontawesome/fa-v4compatibility.woff2
Labels: none

disallow endless methods
  rubocop.yml
Labels: config change, hq

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

deploy: 0d613442e6cee95a84219303b7e3715848a9f394
  css/main.css
  css/main.css.map
Labels: none

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Disable new cops by default
  rubocop.yml
Labels: config change, hq

Dump full RuboCop config This automated commit dumps the contents of the full RuboCop config. [dependabot skip]
  test/fixtures/full_config.yml
Labels: none

Check libyaml version
  test/config_test.rb
Labels: none

Extract `bin/dump-config`
  bin/dump-config
  lib/tasks/config.rake
  test/config_test.rb
Labels: none

Move full config dump to directory
  lib/tasks/config.rake
  test/config_test.rb
  test/fixtures/full_configs/rubocop.yml
Labels: none

Discover, dump, and test all configs
  lib/tasks/config.rake
  rubocop-cli.yml
  test/config_test.rb
  test/fixtures/full_configs/rubocop-cli.yml
Labels: config change

Refactor tests to prepare to dump all configs
  test/config_test.rb
Labels: none

.github/labeler.yml:

"config change": rubocop*.yml
"hq": rubocop.yml
"graphql": rubocop.graphql.yml
"minitest": rubocop.minitest.yml
"performance": rubocop.performance.yml
"rails": rubocop.rails.yml
"rake": rubocop.rake.yml
"rspec": rubocop.rspec.yml
